/*
[name]蓝色[/name]
[iconbgcolor]#3189d3[/iconbgcolor]
name：xinrui_iuni_mobile
Powered by xinrui
*/
.header,.ausPtNum li.on,.indexLogin a,.btFixed li a.btPost,.btn1,.btn_pn,.btn4{background-color:#3189d3;}
.btFixed li .cur span{background-image:url(bt_icon_cur.png);}
.forumListHeader{background-color:#40a1f3}
.btn2,.forumListTab li a.cur, .forumListTab li.a a{border-color:#3189d3;}
.btn2{color:#3189d3 !important;}
.btn_pn_grey{background:#ddd;}
